* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar {
  width: 100%;
  height: 70px;
  background-color: red;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
}
#navbar ul {
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}
#navbar ul li {
  list-style: none;
}
#navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
}
#welcome-section {
  margin-top: 70px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  flex-direction: column;
}
#welcome-section h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}
#welcome-section p {
  font-size: 2.2rem;
  font-weight: 500;
  color: red;
}
#projects {
  max-width: 1200px;
  min-width: 100%;
  height: 100%;
  background-color: lightgray;
  padding: 20px;
}
.projects-header {
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: -1.5px;
  margin-bottom: 20px;
}
.projects-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-tile {
  max-width: 45%;
  flex: 1 1 45%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px auto;
  text-decoration: none;
}
.project-tile img {
  height: 250px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.project-title {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  color: red;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#contact {
  padding: 20px;
  background: red;
  color: white;
  text-align: center;
}
#contact p {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 10px;
}
#contact a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  #navbar ul {
    width: 100%;
  }
  #navbar a {
    margin-right: 10px;
  }
  .project-tile {
    max-width: 90%;
    flex: 1 1 90%;
    margin: 20px auto;
  }
  #welcome-section h1 {
    font-size: 2rem;
  }
  #welcome-section p {
    font-size: 1.5rem;
  }
}
